{{#if prompt}}
  <option value="" selected={{is-not selection}}>
    {{prompt}}
  </option>
{{/if}}

{{#each content key="@identity" as |item|}}
  <option value="{{get item optionValuePath}}" selected={{is-equal-by-path item value optionValuePath}}>
    {{get item optionLabelPath}}
  </option>
{{/each}}
